doctype html
html
    head
        title Node.js Chat Server
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/css/style.css')
    body
        include include/header.jade
        
        block content
        
        include include/footer.jade
        
        script(src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
        script(src="/static/js/common.js")