
body {
    padding: 0 ;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #f8f9fa;
  }
  
a {
    color: #00B7FF;
} 

.container{  
    margin-top: 60px;
    min-height:500px;
}


.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
} 
.tree .active{
    color:red !important;
}

.tabArea .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

.tabArea .tab-content { 
    background-color: #fff;
    border: 1px solid #ced4da;
    padding : 5px 5px;
    height: calc(100% - 35px);
}
.tab-content .tab-pane {
    height: 100%;
    background: #fff;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-pills>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-pills>li>a {
    color: #369;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { 
    background-color: #fff;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    color: #00B7FF;
}

.jsonDiv{
    border:1px solid #dadada;
    width:100%;
    overflow:auto;
}
.jsonDiv pre{
    padding:10px;
    margin:0px;
}