
nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    a(class="navbar-brand" href="/") HappyEni's
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")        
    div(class="collapse navbar-collapse" id="navbarCollapse")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" href="/") Home
            li(class="nav-item")
                a(class="nav-link" href="/chat/list") Chat
            li(class="nav-item")
                a(class="nav-link" href="/redis/main") Redis

script(type="text/javascript").
    function selectHeaderMenu(idx){
        $(".navbar-nav .nav-item").each(function(index, value){
            if(idx==index){
                $(this).addClass("active");
            }else{
                $(this).removeClass("active");
            }
        });
    }