extends ../layout


block content 
    div(class="container" style="max-width:100%;") 
        div(class="col-md-12")
            div(class="row")
                h4 Redis.
            div(class="row") 
                div(class="col-md-12 mb-3")
                    label(for="search") Search
                    div(class="input-group")
                        input(type="text" class="form-control" id="search")  
                        div(class="input-group-append") 
                            button(class="btn btn-info" type="button" id="btn_get") Search  
                            button(type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal") Redis server infomation.  
                                  
            div(class="row" id="resizableContainer")    
                div(class="col mb-3 resizable" id="resizableA")
                    h5 Key list. 
                    ul(id="tree" style="overflow:auto; background:#fff; border:1px solid #ced4da; ")
                        li(id="atoz-group") 
                            a(href="#") A-Z
                            ul(id="atoz") 
                        li(id="0to9-group") 
                            a(href="#") 0-9
                            ul(id="0to9")  
                div(class="col mb-3 resizableSplitter" id="resizableSplitter")  
                    span(class="align-middle") <>
                div(class="col mb-3 resizable" id="resizableB")
                    h5 Key Infomation.                     
                    div(class="tabArea" id="tabArea") 
                        ul(class="nav nav-pills")
                            li(class="active")
                                a(href="#tab1" data-toggle="tab") Default
                            li(class="")
                                a(href="#tab2" data-toggle="tab") Data 
                            li(class="")
                                a(href="#tab3" data-toggle="tab") Data Viewer

                        div(class="tab-content clearfix")
                            div(class="tab-pane active" id="tab1")
                                div(class="card mb-4 shadow-sm")
                                    div(class="card-header")
                                        h4(class="my-0 font-weight-normal" id="key_name")  
                                            &nbsp;
                                    div(class="card-body")
                                        ul(class="list-unstyled mt-3 mb-4")
                                            li
                                                h5(class="card-title pricing-card-title") Type : 
                                                    span(class="text-muted" id="key_type") 
                                            li
                                                h5(class="card-title pricing-card-title") Data size : 
                                                    span(class="text-muted" id="key_data_size") 
                                button(class="btn btn-danger btn-block col-md-3" type="button" id="btn_del_key") Delete key
                            div(class="tab-pane" id="tab2" style="overflow:auto; ")
                                div(class="row mr-1 justify-content-md-end" style="display:none")
                                    p
                                        button(class="btn btn-success mr-2" type="button" id="btn_add") Add
                                        button(class="btn btn-warning mr-2" type="button" id="btn_modify") Modify
                                        button(class="btn btn-danger" type="button" id="btn_del") Delete
                                table(class="table table-stripedxx")
                                    colgroup
                                        col(width="10%")
                                        col(width="10%")
                                        col(width="80%")
                                    thead   
                                        tr  
                                            th #
                                            th No
                                            th Value
                                    tbody(id="valuelist")
                                button(class="btn btn-secondary btn-block mb-3" type="button" id="btn_more") More 
                            div(class="tab-pane" id="tab3" style="overflow:auto; ")
                                div(id="jsoneditor")  
                                    
                                link(rel='stylesheet', href='/static/jsoneditor-master/dist/jsoneditor.min.css')
                                script(src="/static/jsoneditor-master/dist/jsoneditor-minimalist.min.js" type="text/javascript" charset="utf-8")
                                script.
                                    var container, options, json, editor;
                                    container = document.getElementById('jsoneditor');
                                    options = {
                                        mode: 'form',
                                        modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
                                        onError: function (err) {
                                            alert(err.toString());
                                        }
                                    }; 
                                    json = { 
                                    };
                                    editor = new JSONEditor(container, options, json); 

                                    var editorHeight = $(window).height()-410;
                                    if(editorHeight<390){
                                        editorHeight=390;
                                    }                       
                                    console.log(editorHeight)          
                                    $('.jsoneditor-tree-inner').css("height", (editorHeight)+"px");

                                style(type="text/css").
                                    .jsoneditor{
                                        border: 1px solid #cdcdcd !important;

                                    } 
                                    .jsoneditor-menu{
                                        background: #dadada !important;
                                        border: 0px solid #dadada !important;
                                        padding: 0px !important;
                                    }
                                    .jsoneditor-tree-inner{ 
                                        overflow: auto;
                                        padding-bottom: 300px; 
                                    } 
             
            
            div(class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="false" style="display: none;" aria-hidden="true")
                div(class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            p(class="heading lead") Redis-Server infomation.

                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true" class="white-text") ×

                        
                        div(class="modal-body")
                            p(id="redis_server_info")
 
                        div(class="modal-footer justify-content-center")
                            button(type="button" class="btn btn-outline-secondary" data-dismiss="modal") Close
                            
            style(type="text/css").
                #myModal .modal-dialog {
                    left: 0;
                    position: absolute;
                    display: flex;
                    width: 50%;
                    margin: 0;
                    height: auto;
                    min-height: 100%;
                    top: 0; 
                }
                #myModal .modal-header{
                    background-color: #33b5e5;
                    color: #fff;
                }
                #myModal .modal-header .heading{
                    margin: 0;
                    padding: .3rem;
                    font-size: 1.15rem;
                }
                #myModal .modal-header .white-text{
                    color: #fff;
                }
                #myModal .modal-footer{
                    background-color: #fbfbfb;
                } 
 
    script(src="/static/js/redis/navigator.js")
    script(type="text/javascript").
        selectHeaderMenu(2);
        var treeHeight = $(window).height()-300;
        if(treeHeight<500){
            treeHeight=500;
        }
        $('#tree, #tabArea').css("height", (treeHeight)+"px");
        $('#tree').treed({openedClass:'glyphicon-minus-sign', closedClass:'glyphicon-plus-sign'}); 

    style(type="text/css").
        #resizableA{ 
            width: 33.333333%; 
        }

        #resizableB{   
            width: 58.333333%; 
        } 

        #resizableSplitter{
            margin-top: 32px;
            background: #e6e6e6; 
        } 

    link(rel='stylesheet', href='/static/css/splitter.css')
    script(src="/static/js/splitter.js")
    script(type="text/javascript").
        initSplitter("#resizableContainer", "#resizableA", "#resizableB", "#resizableSplitter");


        